{{define "title"}}About{{end}}

{{define "main"}}
	<div class='about'>
		<h2>About</h2>
		<p>Welcome to the about page of our web application!</p>
		<p>This application is designed to help you manage your snippets efficiently.</p>
		<p>Feel free to explore and make the most out of it!</p>
{{end}}
